{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.handsontable.full.css" %}" />{% endblock %}
{%block extrahead %}
	{{block.super}}
	<script type="text/javascript" src={% static "js/file.js" %}></script>
	<script type="text/javascript" src={% static "js/util.js" %}></script>
	<script type="text/javascript" src={% static "js/jquery.handsontable.full.js" %}></script>
	<script type="text/javascript">
		var app="{{app}}";
		var data_file="{{data_file}}";	
		var module="{{module}}";
	</script>
{% endblock %}

{% block content %}
	<div id = "content-main">
	<h3>{{data_file}}</h3>
	<button id="save">Save</button>
		<div id = "datasheet" class="handsontable">
		</div>
	</div>
{% endblock %}